{% extends 'base.html' %}
{% load compress %}

{% block title %}
    POW-R: Add Device
{% endblock %}

{% block extrahead %}
    <!--<script src="{{ STATIC_URL }}js/require.config.js"></script>
    <script data-main="add_device" src="{{ STATIC_URL }}js/require.js"></script>-->

    {% compress js %}
    <!-- Libraries -->
    <script type="text/javascript" src="{{ STATIC_URL }}components/jquery/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}components/underscore/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}components/backbone/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}components/mustache/mustache.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}components/ICanHaz.js/ICanHaz.js"></script>
    
    <!-- Main application -->
    <script type="text/javascript" src="{{ STATIC_URL }}powr/js/m/device.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}powr/js/v/add_device.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}powr/js/add_device.js"></script>
    {% endcompress %}
    
    {% include 'powr/templates/device_add_main.html' %}
    {% include 'powr/templates/device_add_override.html' %}
    {% include 'powr/templates/device_add_preview.html' %}
    {% include 'powr/templates/device_add_saved.html' %}

{% endblock %}

{% block content_title %}
    <h1>Add Device</h1>
{% endblock %}

{% block content %}
    <div id="main">
        <div id="inner-el" style="width: 200px; height: 350px;"></div>
    </div>
{% endblock %}

