{% extends 'admin/base.html' %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}
{% load compress %}

{% block title %}
    POW-R: Add Satellite
{% endblock %}

{% block extrahead %}
    {% compress js %}
    <!-- Libraries -->
    <script type="text/javascript" src="{{ STATIC_URL }}components/jquery/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}components/underscore/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}components/backbone/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}components/mustache/mustache.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}components/ICanHaz.js/ICanHaz.js"></script>
    
    <!-- Main application -->
    <script type="text/javascript" src="{{ STATIC_URL }}powr/js/m/satellite.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}powr/js/v/add_satellite.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}powr/js/add_satellite.js"></script>
    {% endcompress %}

    {% include 'powr/templates/satellite_add_instructions.html' %}
    {% include 'powr/templates/satellite_add_searching.html' %}
    {% include 'powr/templates/satellite_add_verify.html' %}
    {% include 'powr/templates/satellite_add_add.html' %}
    {% include 'powr/templates/satellite_add_cancel.html' %} 

{% endblock %}

{% block breadcrumbs %}
{% if not is_popup %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Settings' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% else %}
{% endif %}
{% endblock %}

{% block content_title %}
    <h1>Add Satellite</h1>
{% endblock %}

{% block content %}
    <div id="main">
        <div id="inner-el" style="width: 200px; height: 350px;"></div>
        <input type="button" id="prev" value="Previous" />
        <input type="button" id="cancel" value="Cancel" />
        <input type="button" id="next" value="Next" />
    </div>
{% endblock %}

