<h1>Make a new Graph</h1>
  <div id="graph_wizard">
    <form action="">
      <div class="step" id="devices">
        <fieldset>
          <legend><strong>Step 1: </strong>Select the Devices to Graph</legend>
          <div class="row">
            <div class="span4 offset1">
                <div class="row">
                  <h5>Available Devices</h5>
                </div><!-- /.row -->
                <div class="row">
                  <select multiple="multiple" ng-model="selected_devices" ng-options="i.name for i in device_list | orderBy:'name'">
                    <!-- <option ng-repeat="device in device_list" value="{{ device.resource_uri }}">{{ device.name }}</option> -->
                  </select>
                </div><!-- /.row -->
                <div class="row">
                  <button type="button" class="btn btn btn-success" ng-click="addDevice()">Add Selected</button>
                </div><!-- /.row -->
            </div><!-- /.span4.offset1 -->
            
            <div class="span4 offset1">
                <div class="row">
                  <h5>Selected Devices</h5>
                </div><!-- /.row -->
                <div class="row">
                  <select multiple="multiple" ng-model="selected_devices_rm" ng-options="i.name for i in chart.devices | orderBy:'name'">
                  </select>
                </div><!-- /.row -->
                <div class="row">
                  <button type="button" class="btn btn btn-danger"  ng-click="remDevice()">Remove Selected</button>
                </div><!-- /.row -->
            </div><!-- /.span4.offset1 -->
          </div><!-- /.row -->
        </fieldset>
      </div> <!-- /.step /#devices -->
      <div class="step" id="type">
        <fieldset>
          <legend><strong>Step 2: </strong>Select the Graph Type</legend>
          <div class="row">
            <div class="span4 offset1">
              <label class="radio">
                <img src="{{ STATIC_URL }}powr/img/Chart_Line_Plot.png" />
                <input type="radio" name="type_graphtype" value="LINE" checked="checked" ng-model="chart.graph_type">
                Line 
              </label>
              <span class="help-block">Shows power usage of the device(s) over a specific time</span>
            </div>
            <div class="span4 offset1">
              <label class="radio">
                <img src="{{ STATIC_URL }}powr/img/Chart_Stacked_Area_Plot.png" />
                <input type="radio" name="type_graphtype" value="STAC" ng-model="chart.graph_type">
                Stacked Area 
              </label>
              <span class="help-block">Shows power usage of the device(s) over a specific time stacked one on top of each other to show total usage for the selected devices</span> </div>
          </div> <!-- /.row -->
          <div class="row">
            <div class="span4 offset1">
              <label class="radio">
                <img src="{{ STATIC_URL }}powr/img/Chart_Column_Plot.png" />
                <input type="radio" name="type_graphtype" value="BAR" ng-model="chart.graph_type">
                Bar 
              </label>
              <span class="help-block">Shows power usage of a device for specific intervals</span>
            </div>
            <div class="span4 offset1">
              <label class="radio">
                <img src="{{ STATIC_URL }}powr/img/Chart_Pie_Plot.png" />
                <input type="radio" name="type_graphtype" value="PIE" ng-model="chart.graph_type">
                Pie 
              </label>
              <span class="help-block">Compares multiple devices power usage</span>
            </div>
          </div> <!-- /.row -->
        </fieldset>
      </div> <!-- /.step /#type -->
      <div class="step" id="timespan">
        <fieldset>
          <legend><strong>Step 3: </strong>Choose the timeframe</legend>
          
          <div class="row">
            <div class="span4 offset1">
              <div class="row">
                <h5>Absolute Dates</h5>
              </div><!-- /.row -->
              <div class="row">
                <div class="input-prepend">
                  <span class="add-on" style="width:70px;">Start Time</span>
                  <input class="span3" type="text" placeholder="Click to select" ng-model="chart.start_date">
                </div>
              </div><!-- /.row -->
              <div class="row">
                <div class="input-prepend">
                  <span class="add-on" style="width:70px;">End Time</span>
                  <input class="span3" type="text" placeholder="Click to select" ng-model="chart.stop_date">
                </div>
              </div><!-- /.row -->
              <div class="row">
                <label>
                  <center>
                    <input type="radio" name="timespan_type" value="ABS" ng-model="chart.timeframe_method">
                    Use selected absolute dates 
                  </center>
                </label>
              </div><!-- /.row -->
            </div><!-- /.span4.offset1 -->
            
            <div class="span1">
              <center>
                <h4>Or</h4>
              </center>
            </div>
            
            <div class="span4">
              <div class="row">
              <h5>Realative Dates</h5>
              </div><!-- /.row -->
              <div class="row">
                <div class="input-prepend input-append">
                  <span class="add-on" style="width:90px;">Timespan of</span>
                  <input class="span2" type="text" placeholder="Timespan" ng-model="chart.timespan">
                  <select class="add-on timespan" style="height:30px;" ng-model="chart.timespan_unit">
                    <option value="Y">Year(s)</option>
                    <option value="M">Month(s)</option>
                    <option value="E">Week(s)</option>
                    <option value="D">Days(s)</option>
                  </select>
                </div>
              </div><!-- /.row -->
              <div class="row">
                <div class="input-prepend input-append">
                  <span class="add-on" style="width:90px;">Starting</span>
                  <input class="span1"  style="width:86px;" type="text" placeholder="Starting" ng-model="chart.starting">
                  <select class="add-on timespan" style="height:30px;" ng-model="chart.starting_unit">
                    <option value="Y">Year(s)</option>
                    <option value="M">Month(s)</option>
                    <option value="W">Week(s)</option>
                    <option value="D">Days(s)</option>
                  </select>
                  <span class="add-on" style="width:30px;">Ago</span> 
                </div>
              </div><!-- /.row -->
              <div class="row">
                <label>
                  <center>
                    <input type="radio" name="timespan_type" value="REL" ng-model="chart.timeframe_method">
                    Use relative dates 
                  </center>
                </label>
              </div><!-- /.row -->
            </div><!-- /.span4.offset2 -->
          </div><!-- /.row -->
          
          
          
        </fieldset>
      </div> <!-- /.step /#timespan -->
      <div id="button_bar" align="center">
        <fieldset>
          <legend></legend>
          <button type="reset" class="btn btn btn-danger" id="reset_button">Start Over</button>
          <button type="button" class="btn btn btn-success" id="preview_button">Preview</button>
          <button type="submit" class="btn btn-primary" id="save_button" ng-click="save()">Save Graph</button>
        </fieldset>
      </div> <!-- /#button_bar -->
      <div id="preview" style="height:300px; width:500px; margin:auto;" align="center">
      </div> <!-- /#preview -->
    </form>
  </div><!-- /#graph_wizard --> 
