{% extends 'base.html' %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
<!-- This is a dirty, static hack to enable the "popup" add feature thing -->
<script type="text/javascript" src="{{ STATIC_URL }}js/RelatedObjectLookups.js"></script>
{% endblock %}

{% block title %}
      POW-R Resource Monitor
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content_title %}
    <h1>Home</h1>
{% endblock %}

{% block content %}
    <h2>Quick Links</h2>
    <ul>
        <li><a href="{% url admin:device_device_add %}" onclick="return showAddAnotherPopup(this);">Add Device</a></li>
        <li><a href="{% url admin:satellite_satellite_add %}" onclick="return showAddAnotherPopup(this);">Add Satellite</a></li>
    </ul>
{% endblock %}
