{% extends 'admin/base.html' %}
{% block title %}
      View Data
{% endblock %}

{% block extrastyle %}
    <!-- Your extra CSS goes here -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/view_data.css" />
    <link href="test.css" rel="stylesheet" type="text/css">
    <link class="include" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.jqplot.min.css" />
    <link rel="stylesheet" type="text/css" href="examples.min.css" />
    <link type="text/css" rel="stylesheet" href="syntaxhighlighter/styles/shCoreDefault.min.css" />
    <link type="text/css" rel="stylesheet" href="syntaxhighlighter/styles/shThemejqPlot.min.css" />
{% endblock %}

{% block extrahead %}
    <!-- Your extra Javascript goes here -->
        <script class="include" type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script class="include" type="text/javascript" src="{{ STATIC_URL }}js/jquery.jqplot.js"></script>
        <script type="text/javascript" src="syntaxhighlighter/scripts/shCore.min.js"></script>
        <script type="text/javascript" src="syntaxhighlighter/scripts/shBrushJScript.min.js"></script>
        <script type="text/javascript" src="syntaxhighlighter/scripts/shBrushXml.min.js"></script>
        <script class="include" language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/plugins/jqplot.dateAxisRenderer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jqplot.canvasTextRenderer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jqplot.enhancedLegendRenderer.min.js"></script>
		 <script class="code" type="text/javascript">
            $(document).ready(function(){
                var line1=[['2012-01-05',65], ['2012-01-10',64], ['2012-01-15',66], ['2012-01-20',67], ['2012-01-25',65], ['2012-01-30',64], 
						['2012-02-05',65], ['2012-02-10',66], ['2012-02-15',63], ['2012-02-20',65], ['2012-02-25',66], ['2012-02-28',67], 
						['2012-03-05',65], ['2012-03-10',64], ['2012-03-15',64], ['2012-03-20',63], ['2012-03-25',62], ['2012-03-30',63], 
						['2012-04-05',63], ['2012-04-10',62], ['2012-04-15',62], ['2012-04-20',61], ['2012-04-25',59], ['2012-04-30',59], 
						['2012-05-05',57], ['2012-05-10',55], ['2012-05-15',54], ['2012-05-20',53], ['2012-05-25',53], ['2012-05-30',51], 
						['2012-06-05',56], ['2012-06-10',57], ['2012-06-15',55], ['2012-06-20',54], ['2012-06-25',54], ['2012-06-30',53], 
						['2012-07-05',54], ['2012-07-10',54], ['2012-07-15',55], ['2012-07-20',56], ['2012-07-25',57], ['2012-07-30',56], 
						['2012-08-05',55], ['2012-08-10',56], ['2012-08-15',57], ['2012-08-20',56], ['2012-08-25',56], ['2012-08-30',55], 
						['2012-09-05',54], ['2012-09-10',53], ['2012-09-15',54], ['2012-09-20',55], ['2012-09-25',56], ['2012-09-30',56], 
						['2012-10-05',56], ['2012-10-10',57], ['2012-10-15',57], ['2012-10-20',56], ['2012-10-25',58], ['2012-10-30',60], 
						['2012-11-05',60], ['2012-11-10',61], ['2012-11-15',62], ['2012-11-20',63], ['2012-11-25',64], ['2012-11-30',65], 
						['2012-12-05',65], ['2012-12-10',67], ['2012-12-15',66], ['2012-12-20',65], ['2012-12-25',65], ['2012-12-30',66]];
                var line2=[['2012-04-05',40], 	['2012-04-10',40], 	['2012-04-15',40], ['2012-04-20',40], ['2012-04-25',40], ['2012-04-30',40], 
						['2012-05-05',40], ['2012-05-10',40], ['2012-05-15',39], ['2012-05-20',40], ['2012-05-25',40], ['2012-05-30',40], 	
						['2012-06-05',38], 	['2012-06-10',40], 	['2012-06-15',40], ['2012-06-20',40], ['2012-06-25',40], ['2012-06-30',40], 
						['2012-07-05',40], 	['2012-07-10',40], 	['2012-07-15',40], ['2012-07-20',41], ['2012-07-25',40], ['2012-07-30',40],
						['2012-06-08',41], 	['2012-08-10',40], 	['2012-08-15',40], ['2012-08-20',40], ['2012-08-25',40], ['2012-08-30',40]];
				var line3=[['2012-04-05',24], 	['2012-04-10',24], 	['2012-04-15',24], ['2012-04-20',24], ['2012-04-25',24], ['2012-04-30',24], 
						['2012-05-05',24], ['2012-05-10',24], ['2012-05-15',23], ['2012-05-20',24], ['2012-05-25',24], ['2012-05-30',24], 	
						['2012-06-05',23], 	['2012-06-10',24], 	['2012-06-15',24], ['2012-06-20',24], ['2012-06-25',25], ['2012-06-30',24], 
						['2012-07-05',24], 	['2012-07-10',24], 	['2012-07-15',23], ['2012-07-20',24], ['2012-07-25',24], ['2012-07-30',24],
						['2012-06-08',24], 	['2012-08-10',24], 	['2012-08-15',24], ['2012-08-20',24], ['2012-08-25',24], ['2012-08-30',24]];
				var plot2 = $.jqplot('chart1', [line1, line2, line3], {
                    seriesColors:["red","green","blue"],
                    legend:{
                        renderer: $.jqplot.EnhancedLegendRenderer,
                        show: true,
                        labels: ['All Devices','Refrigerator','Fish Tank'], 
                        placement: 'outside'
                    },
                    axes:{
                        xaxis:{
                            label: 'Time in Months',
                            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                            renderer: $.jqplot.DateAxisRenderer,
                            tickOptions:{formatString:'%b \'%y'},
                            min: 'May 1, 2012',
							max: 'August 1, 2012'
                        },
                        yaxis:{
                            label: 'Kilowatts per Hour',
                            min: 20,
                            max: 100,
                            tickInterval: 10,
                            labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                        }
                    },
                    series:[
						{showLine:false, 
						markerOptions: { size: 7, style:"x" }
						},
						{lineWidth:4, 
						markerOptions:{show:false}
						},
						{lineWidth:4, 
						markerOptions:{show:false}
						}
					]
					
                });
            });
        </script>
{% endblock %}

{% block breadcrumbs %}
    <!-- Leave this blank, for now -->
{% endblock %}

{% block content_title %}
    <h1>View Monthly Power Consumption</h1>
{% endblock %}

{% block content %}
    <!-- Your body code goes here -->
		<div id="top">
			<div id="dates">
				<form>
					<label>Start Date: </label>
					<select>
						<option>January</option>
						<option>February</option>
						<option>March</option>
						<option>April</option>
						<option>May</option>
						<option>June</option>
						<option>July</option>
						<option>August</option>
						<option>September</option>
						<option>October</option>
						<option>November</option>
						<option>December</option>
					</select> 
					&nbsp 
					<select>
						<option>2012</option>
						<option>2013</option>
						<option>2014</option>
						<option>2015</option>
						<option>2016</option>
						<option>2017</option>
						<option>2018</option>
						<option>2019</option>
						<option>2020</option>
						<option>2021</option>
						<option>2022</option>
						<option>2023</option>
						<option>2024</option>
						<option>2025</option>
						<option>2026</option>
						<option>2027</option>
						<option>2028</option>
						<option>2029</option>
						<option>2030</option>
						<option>2031</option>
						<option>2032</option>
					</select>	
					<br>
					<label>End Date: </label>
					<select>
						<option>January</option>
						<option>February</option>
						<option>March</option>
						<option>April</option>
						<option>May</option>
						<option>June</option>
						<option>July</option>
						<option>August</option>
						<option>September</option>
						<option>October</option>
						<option>November</option>
						<option>December</option>
					</select>				
					&nbsp 
					<select>
						<option>2012</option>
						<option>2013</option>
						<option>2014</option>
						<option>2015</option>
						<option>2016</option>
						<option>2017</option>
						<option>2018</option>
						<option>2019</option>
						<option>2020</option>
						<option>2021</option>
						<option>2022</option>
						<option>2023</option>
						<option>2024</option>
						<option>2025</option>
						<option>2026</option>
						<option>2027</option>
						<option>2028</option>
						<option>2029</option>
						<option>2030</option>
						<option>2031</option>
						<option>2032</option>
					</select>	
				</form>
					<br>
<br>					
			<form>
				<input type="button" onClick="parent.location='{% url view_data %}'" value="Go!">
			</form>	
			</div>
			
			<div id="devices">
				<label>All Devices:</label> 
				<select name="devices">
					<option>Not Displayed</option>
					<option id="red"> Red</option>
					<option id="orange"> Orange</option>
					<option id="yellow"> Yellow</option>
					<option id="green"> Green</option>
					<option id="blue"> Blue</option>
					<option id="purple"> Purple</option>
				</select><br>
				<label>Air Conditioner: </label>
				<select name="devices">
					<option>Not Displayed</option>
					<option id="red"> Red</option>
					<option id="orange"> Orange</option>
					<option id="yellow"> Yellow</option>
					<option id="green"> Green</option>
					<option id="blue"> Blue</option>
					<option id="purple"> Purple</option>
				</select><br>
				<label>Clothes Dryer: </label>
				<select name="devices">
					<option>Not Displayed</option>
					<option id="red"> Red</option>
					<option id="orange"> Orange</option>
					<option id="yellow"> Yellow</option>
					<option id="green"> Green</option>
					<option id="blue"> Blue</option>
					<option id="purple"> Purple</option>
				</select><br>
				<label>Dad's Laptop: </label>
				<select name="devices">
					<option>Not Displayed</option>
					<option id="red"> Red</option>
					<option id="orange"> Orange</option>
					<option id="yellow"> Yellow</option>
					<option id="green"> Green</option>
					<option id="blue"> Blue</option>
					<option id="purple"> Purple</option>
				</select><br>
				<label>Desktop: </label>
				<select name="devices">
					<option>Not Displayed</option>
					<option id="red"> Red</option>
					<option id="orange"> Orange</option>
					<option id="yellow"> Yellow</option>
					<option id="green"> Green</option>
					<option id="blue"> Blue</option>
					<option id="purple"> Purple</option>
				</select><br>
				<label>Fish Tank: </label>
				<select name="devices">
					<option>Not Displayed</option>
					<option id="red"> Red</option>
					<option id="orange"> Orange</option>
					<option id="yellow"> Yellow</option>
					<option id="green"> Green</option>
					<option id="blue"> Blue</option>
					<option id="purple"> Purple</option>
				</select><br>
				<label>Kitchen Light: </label>
				<select name="devices">
					<option>Not Displayed</option>
					<option id="red"> Red</option>
					<option id="orange"> Orange</option>
					<option id="yellow"> Yellow</option>
					<option id="green"> Green</option>
					<option id="blue"> Blue</option>
					<option id="purple"> Purple</option>
				</select><br>
				<label>Mom's Laptop: </label>
				<select name="devices">
					<option>Not Displayed</option>
					<option id="red"> Red</option>
					<option id="orange"> Orange</option>
					<option id="yellow"> Yellow</option>
					<option id="green"> Green</option>
					<option id="blue"> Blue</option>
					<option id="purple"> Purple</option>
				</select><br>
				<label>Refrigerator: </label>
				<select name="devices">
					<option>Not Displayed</option>
					<option id="red"> Red</option>
					<option id="orange"> Orange</option>
					<option id="yellow"> Yellow</option>
					<option id="green"> Green</option>
					<option id="blue"> Blue</option>
					<option id="purple"> Purple</option>
				</select><br>
				<label>Television: </label>
				<select name="devices">
					<option>Not Displayed</option>
					<option id="red"> Red</option>
					<option id="orange"> Orange</option>
					<option id="yellow"> Yellow</option>
					<option id="green"> Green</option>
					<option id="blue"> Blue</option>
					<option id="purple"> Purple</option>
				</select><br>
			</div>	
		</div>
		<br>
<hr>
        <div id="chart1"></div>
		
{% endblock %}
