  <div class="row">
    <div class="span8">
        <h2>Devices</h2>
    </div><!-- /.span8 -->
    <div class="span3">
        <button class="btn" type="button" ng-click="goNewDevice()">New Device</button>
    </div><!-- /.span3 -->
  </div><!-- /.row -->
  <table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
    </tr>
    <tr ng-repeat="object in objects">
        <td><a href="#/devices/{{ object.id }}">{{ object.name }}</a></td>
    </tr>
  </table><!-- /.table.table-striped.table-bordered -->
