{% extends 'admin/base.html' %}

{% block title %}
    POW-R: Add Satellite
{% endblock %}

{% block extrahead %}
    <script data-main="/static/js/add_satellite" src="/static/js/require-jquery.js"></script>

    <script id="instructions" type="text/html">
        <img src="{{ STATIC_URL }}img/outlet-face.png" style="width: 150px; height: 200px;" />
        <p>Please push the red connect button on the Satellite you wish to connect.</p>
        <p>Make sure the Satellite is plugged in, and within 500m of another Satellite</p>
    </script>

    <script id="searching" type="text/html">
        <div style="width: 150px; height: 200px; text-align: center; vertical-align: middle;">
	    <img src="{{ STATIC_URL }}img/ajax-loader.gif" />
        </div>
        <p>Searching for Satellite..</p>
    </script>

    <script id="verify" type="text/html">
        <p>This this right?</p>
    </script>

    <script id="add" type="text/html">
        <p>Adding</p>
    </script>

    <script id="cancel" type="text/html">
        <p>Cancelling</p>
    </script>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content_title %}
    <h1>Add Satellite</h1>
{% endblock %}

{% block content %}
    <div id="main">
        <div id="inner-el"></div>
        <input type="button" id="prev" value="Previous"></input>
        <input type="button" id="cancel" value="Cancel"></input>
        <input type="button" id="next" value="Next"></input>
    </div>
{% endblock %}

