
    <script type="text/html" id="main">
        <p>Please tell us a little bit about your device, so that we can help you pick a unique name for it.</p>
        <table style="vertical-align: middle;">
            <tr>
                <td><label for="object">What is it?</label></td>
                <td><input type="text" id="object" name="object" class="wiz" /></td>
            </tr>
            <tr>
                <td><label for="location">Where is it?</label></td>
                <td><input type="text" id="location" name="location" class="wiz" /></td>
            </tr>
            <tr>
                <td><label for="owner">Who does it belong too?</label></td>
                <td><input type="text" id="owner" name="owner" class="wiz" /></td>
            </tr>
            <tr>
                <td><label for="unique">Is it unique in any way?</label></td>
                <td><input type="text" id="unique" name="unique" class="wiz" /></td>
            </tr>
        </table>
        <div id="preview">
        </div>
        <input type="button" value="Add Device" id="submit" />
    </script>